In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = DataFrame(np.random.randint(0, 100, [3,3]),
              index=list('abc'),
              columns=list('xyz'))
df

    x   y   z
a  40  84  66
b  35  61  80
c  58  22  13

In [4]:
df['w'] = 'one two three'.split()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3 non-null      int64
 1   y       3 non-null      int64
 2   z       3 non-null      int64
 3   w       3 non-null      object
dtypes: int64(3), object(1)
memory usage: 120.0+ bytes

In [5]:
df.loc['a', 'z'] = 'abcdef' * 1000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3 non-null      int64
 1   y       3 non-null      int64
 2   z       3 non-null      object
 3   w       3 non-null      object
dtypes: int64(2), object(2)
memory usage: 200.0+ bytes

In [7]:
df.info(memory_usage='dee p')

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3 non-null      int64
 1   y       3 non-null      int64
 2   z       3 non-null      object
 3   w       3 non-null      object
dtypes: int64(2), object(2)
memory usage: 28.6 MB

In [8]:
df

    x   y                                                  z      w
a  40  84  abcdefabcdefabcdefabcdefabcdefabcdefabcdefabcd...    one
b  35  61                                                 80    two
c  58  22                                                 13  three

In [9]:
df = DataFrame(np.random.randint(0, 100, [3,3]),
              index=list('abc'),
              columns=list('xyz'))
df

    x   y   z
a  68  67   1
b  53  81  32
c   5  55  97

In [10]:
df.to_clipboard()

In [11]:
df.to_json()

'{"x":{"a":68,"b":53,"c":5},"y":{"a":67,"b":81,"c":55},"z":{"a":1,"b":32,"c":97}}'

In [12]:
df.to_json('mydata.json')

In [13]:
%cat mydata.json

{"x":{"a":68,"b":53,"c":5},"y":{"a":67,"b":81,"c":55},"z":{"a":1,"b":32,"c":97}}