In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [2]:
filename = '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/COVID19_open_line_list.csv'

In [5]:
df = pd.read_csv(filename)

In [6]:
df.head()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(14126, 45)

In [8]:
df.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country',
       'wuhan(0)_not_wuhan(1)', 'latitude', 'longitude', 'geo_resolution',
       'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation',
       'symptoms', 'lives_in_Wuhan', 'travel_history_dates',
       'travel_history_location', 'reported_market_exposure',
       'additional_information', 'chronic_disease_binary', 'chronic_disease',
       'source', 'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44'],
      dtype='object')

In [9]:
df['country'].value_counts()

China                   10446
South Korea               938
Japan                     731
Italy                     588
Singapore                  91
Thailand                   40
Iran                       28
Kuwait                     26
Germany                    20
Bahrain                    20
United Arab Emirates       20
France                     19
United States              17
Malaysia                   17
Vietnam                    16
Australia                  15
Spain                      13
United Kingdom             12
Switzerland                10
Canada                     10
Sweden                      9
Oman                        6
Iraq                        6
Norway                      4
Israel                      4
Romania                     3
Lebanon                     3
India                       3
Philippines                 3
Croatia                     3
Russia                      2
Finland                     2
Netherlands                 2
Pakistan                    2
Georgia                     2
Austria                     2
Lithuania                   1
Greece                      1
Sri Lanka                   1
Brazil                      1
Nepal                       1
Algeria                     1
San Marino                  1
Estonia                     1
Afghanistan                 1
Nigeria                     1
Cambodia                    1
Belgium                     1
North Macedonia             1
Ecuador                     1
Egypt                       1
Name: country, dtype: int64

In [10]:
df.head()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['outcome'].value_counts()

stable                                                                      78
discharge                                                                   45
discharged                                                                  37
death                                                                       12
died                                                                         3
Discharged                                                                   2
recovered                                                                    2
05.02.2020                                                                   1
Symptoms only improved with cough. Currently hospitalized for follow-up.     1
treated in an intensive care unit (14.02.2020)                               1
critical condition, intubated as of 14.02.2020                               1
severe                                                                       1
Name: outcome, dtype: int64

In [12]:
df['outcome'].count()

184

In [13]:
df.shape

(14126, 45)

In [14]:
df.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country',
       'wuhan(0)_not_wuhan(1)', 'latitude', 'longitude', 'geo_resolution',
       'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation',
       'symptoms', 'lives_in_Wuhan', 'travel_history_dates',
       'travel_history_location', 'reported_market_exposure',
       'additional_information', 'chronic_disease_binary', 'chronic_disease',
       'source', 'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44'],
      dtype='object')

In [3]:
import glob
glob.glob('/Users/reuven/Downloads/novel-corona-virus-2019-dataset/*.csv')

['/Users/reuven/Downloads/novel-corona-virus-2019-dataset/COVID19_open_line_list.csv',
 '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/time_series_covid_19_recovered.csv',
 '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/covid_19_data.csv',
 '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/COVID19_line_list_data.csv',
 '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/time_series_covid_19_deaths.csv',
 '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/2019_nCoV_data.csv',
 '/Users/reuven/Downloads/novel-corona-virus-2019-dataset/time_series_covid_19_confirmed.csv']

In [4]:
df = pd.read_csv('/Users/reuven/Downloads/novel-corona-virus-2019-dataset/time_series_covid_19_deaths.csv')
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20
0,Anhui,Mainland China,31.82571,117.2264,0,0,0,0,0,0,...,4,4,5,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.18238,116.4142,0,0,0,0,0,1,...,3,3,3,3,4,4,4,4,4,4
2,Chongqing,Mainland China,30.05718,107.8740,0,0,0,0,0,0,...,3,3,4,5,5,5,5,5,5,6
3,Fujian,Mainland China,26.07783,117.9895,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Gansu,Mainland China,36.06110,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [5]:
df.shape

(76, 34)

In [6]:
df = pd.read_csv('/Users/reuven/Downloads/novel-corona-virus-2019-dataset/2019_nCoV_data.csv')
df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0

In [7]:
df.shape

(1719, 8)